In [32]:
import pandas as pd
import numpy as np
import scorecardpy as sc
from sklearn import tree
from sklearn import metrics
from matplotlib import pyplot as plt
import seaborn as sns

import warnings 
warnings.filterwarnings('ignore')

In [10]:
loan_data = pd.read_excel('data_v4.xlsx')

In [12]:
loan_data.shape

(50000, 7)

In [18]:
loan_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 7 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   sample_id                  50000 non-null  int64
 1   sample_month               50000 non-null  int64
 2   adr_stability_grade        50000 non-null  int64
 3   ovd_order_cnt_6m_grade     50000 non-null  int64
 4   positive_biz_cnt_1y_grade  50000 non-null  int64
 5   risk_score                 50000 non-null  int64
 6   is_dlq_30d                 47430 non-null  float64
dtypes: float64(1), int64(6)
memory usage: 2.7 MB

In [14]:
loan_data.head()

,sample_id,sample_month,adr_stability_grade,ovd_order_cnt_6m_grade,positive_biz_cnt_1y_grade,risk_score,is_dlq_30d
0,1,201802,10,1,10,1,0.0
1,2,201804,10,1,7,2,0.0
2,3,201803,10,1,7,3,0.0
3,4,201802,10,1,9,3,0.0
4,5,201804,10,1,10,1,0.0

Suppose that our existing rules are "adr_stability_grade" and "positive_biz_cnt_1y_grade"

The new variables coming from the thrid party are "ovd_order_cnt_6m_grade" and "risk score"

## Select The Approval Sample

In [60]:
data_prep = loan_data.copy()

## Select the sample
data_prep_appr = data_prep[data_prep['is_dlq_30d'].isnull() == False]
data_prep_appr = data_prep_appr[['sample_id', 'sample_month', 'adr_stability_grade', 'positive_biz_cnt_1y_grade', 'is_dlq_30d']]

In [62]:
## Change the type of target variable to int
data_prep_appr['is_dlq_30d'] = data_prep_appr['is_dlq_30d'].astype(int)

## Calculate the bad accounts concentration
badrate_concen_old = data_prep_appr['is_dlq_30d'].mean()
print('The bad rate concentration based on the old underwriting rules is {}'.format(badrate_concen_old))

The bad rate concentration based on the old underwriting rules is 0.09502424625764284

## Check The Bins Information for Each Variable in Old rules

In [64]:
data_prep_appr

,sample_id,sample_month,adr_stability_grade,positive_biz_cnt_1y_grade,is_dlq_30d
0,1,201802,10,10,0
1,2,201804,10,7,0
2,3,201803,10,7,0
3,4,201802,10,9,0
4,5,201804,10,10,0
...,...,...,...,...,...
49988,49989,201803,4,8,0
49989,49990,201804,4,6,0
49990,49991,201804,2,3,0
49996,49997,201804,2,2,0
49999,50000,201804,2,2,0

In [72]:
var0 = data_prep_appr.columns.difference(['sample_id', 'sample_month']).tolist()

[INFO] creating woe binning ...

In [156]:
def get_bins_info(df, var, target_var):
    bins_info = sc.woebin(df[[var, target_var]], y = target_var, method = 'tree', break_list = {}, stop_limit = 0)
    bins_info[var]['lift'] = bins_info[var]['badprob']/badrate_concen_old
    display(bins_info[var].style.bar(subset=['badprob'], color='lightgreen', width=80, height=80, align='left', vmin=0).highlight_max(subset=['lift'], color='red', axis=0))
    print('The max lift value is {}'.format(bins_info[var]['lift'].max()))

In [158]:
get_bins_info(data_prep_appr, 'adr_stability_grade', 'is_dlq_30d')

[INFO] creating woe binning ...

The max lift value is 1.876374718851509

In [160]:
get_bins_info(data_prep_appr, 'positive_biz_cnt_1y_grade', 'is_dlq_30d')

[INFO] creating woe binning ...

The max lift value is 1.9867179246288753

The lift values of these two existing variables are less than 2, there is no reason we can tighen their cutoff.

## Check The New Variables Coming from The Third Party (IV and Woe and The Order of Bad Rates)

In [164]:
var1 = ['risk_score','ovd_order_cnt_6m_grade','is_dlq_30d']

data_prep_appr2 = data_prep[data_prep['is_dlq_30d'].isnull() == False]
data_prep_appr2['is_dlq_30d'] = data_prep_appr2['is_dlq_30d'].astype(int)

get_bins_info(data_prep_appr2, 'risk_score', 'is_dlq_30d')

[INFO] creating woe binning ...

The max lift value is 5.956588304926716

In [166]:
get_bins_info(data_prep_appr2, 'ovd_order_cnt_6m_grade', 'is_dlq_30d')

[INFO] creating woe binning ...

The max lift value is 3.98394560841865

We can found that the relationship between risk score and the target variable is strong and it has a high value of lift

## Try to Add Risk Score as A Single Rating

In [402]:
# Create a function to calculate different types of hit rate (Genral hit, Single hit rate, pure/base hit rate and pure hit rate percentage)

def cal_hit(df, rule_set):
    '''df : dataframe'''
    '''rule_set : a list including 3 elements tuples (rule name, value and relation)'''
    
    ## We first create a temp dataframe with the hit situation by the rules
    for r in rule_set:
        if r[2] == '>':
            df[r[0] + '_hit'] = np.where(df[r[0]] > r[1], 1, 0)
        elif r[2] == '>=':
            df[r[0] + '_hit'] = np.where(df[r[0]] >= r[1], 1, 0)
        elif r[2] == '<':
            df[r[0] + '_hit'] = np.where(df[r[0]] < r[1], 1, 0)
        elif r[2] == '<=':
            df[r[0] + '_hit'] = np.where(df[r[0]] <= r[1], 1, 0)

    ## Based on the temp dataframe, we then can calculate the general hit rate 
    rule_cols = [r for r in df.columns if '_hit' in r]
    df['hit_any'] = df[rule_cols].any(axis = 1)
    print('''####### General Hit Rate ########''')
    print('The General Hit Rate is {}%'.format(df['hit_any'].mean()*100))

    df['hit_sum'] = df[rule_cols].sum(axis = 1)
    print('''####### Hit Distribution #######''')
    print(df['hit_sum'].value_counts()/df.shape[0])

    ## Then we calculate different hit rates
    single_hit_rate = []
    pure_hit_rate = []
    pure_rate_pct = []
    for i in rule_cols:
        ## single hit rate
        single_hit_rate.append(df[i].mean())
        ## pure hit rate
        pure_hit_rate.append(df[(df['hit_sum'] == 1) & (df[i] == 1)].shape[0]/df.shape[0])
        # pure rate percentage
        pure_rate_pct.append((df[(df['hit_sum'] == 1) & (df[i] == 1)].shape[0]/df.shape[0])/df['hit_any'].mean())

    ## Combine them to a dataframe
    hit_rate_df = pd.DataFrame({'rule' : rule_cols, 'single_hit' : single_hit_rate, 'pure_hit' : pure_hit_rate, 'pure_pct' : pure_rate_pct})

    return hit_rate_df, df

In [404]:
# We first select the sample, since we aim to calculating the hit rate, we may not need the behaviral data of the borrowers, so we can select those are approved and rejected

data_prep_all = loan_data.copy()

In [406]:
# Setting the rule set (The Old One)
rule_set_0 = []

rule0 = ('adr_stability_grade', 2, '<')
rule1 = ('positive_biz_cnt_1y_grade', 2, '<')

rule_set_0.append(rule0)
rule_set_0.append(rule1)

In [408]:
hit_rate_df, data_temp_old = cal_hit(data_prep_all, rule_set_0)

####### General Hit Rate ########
The General Hit Rate is 5.140000000000001%
####### Hit Distribution #######
hit_sum
0    0.94860
1    0.05076
2    0.00064
Name: count, dtype: float64

In [410]:
data_final_old

,sample_id,sample_month,adr_stability_grade,ovd_order_cnt_6m_grade,positive_biz_cnt_1y_grade,risk_score,is_dlq_30d,adr_stability_grade_hit,positive_biz_cnt_1y_grade_hit,hit_any,hit_sum
0,1,201802,10,1,10,1,0.0,0,0,False,0
1,2,201804,10,1,7,2,0.0,0,0,False,0
2,3,201803,10,1,7,3,0.0,0,0,False,0
3,4,201802,10,1,9,3,0.0,0,0,False,0
4,5,201804,10,1,10,1,0.0,0,0,False,0
...,...,...,...,...,...,...,...,...,...,...,...
49995,49996,201803,1,1,2,4,NaN,1,0,True,1
49996,49997,201804,2,1,2,8,0.0,0,0,False,0
49997,49998,201804,1,2,1,8,NaN,1,1,True,2
49998,49999,201804,1,1,2,5,NaN,1,0,True,1
49999,50000,201804,2,1,2,6,0.0,0,0,False,0

In [412]:
# Setting the rule set (The New One)

rule_set = []

rule0 = ('adr_stability_grade', 2, '<')
rule1 = ('positive_biz_cnt_1y_grade', 2, '<')
rule2 = ('risk_score', 6, '>=')

rule_set.append(rule0)
rule_set.append(rule1)
rule_set.append(rule2)

In [427]:
data_prep_all = loan_data.copy()
hit_rate_df_new, data_temp_new = cal_hit(data_prep_all, rule_set)

####### General Hit Rate ########
The General Hit Rate is 17.282%
####### Hit Distribution #######
hit_sum
0    0.82718
1    0.15684
2    0.01566
3    0.00032
Name: count, dtype: float64

In [429]:
hit_rate_df_new

                            rule  single_hit  pure_hit  pure_pct
0        adr_stability_grade_hit     0.03708   0.02600  0.150446
1  positive_biz_cnt_1y_grade_hit     0.01496   0.00942  0.054508
2                 risk_score_hit     0.13708   0.12142  0.702581

## Calculate The Default Rate

In [432]:
data_temp_new.isnull().sum()

sample_id                           0
sample_month                        0
adr_stability_grade                 0
ovd_order_cnt_6m_grade              0
positive_biz_cnt_1y_grade           0
risk_score                          0
is_dlq_30d                       2570
adr_stability_grade_hit             0
positive_biz_cnt_1y_grade_hit       0
risk_score_hit                      0
hit_any                             0
hit_sum                             0
dtype: int64

In [434]:
# Re-select the sample with behaviral data

data_temp_new = data_final_new[data_final_new['is_dlq_30d'].isnull() == False]

In [436]:
data_temp_new.isnull().sum()

sample_id                        0
sample_month                     0
adr_stability_grade              0
ovd_order_cnt_6m_grade           0
positive_biz_cnt_1y_grade        0
risk_score                       0
is_dlq_30d                       0
adr_stability_grade_hit          0
positive_biz_cnt_1y_grade_hit    0
risk_score_hit                   0
hit_any                          0
hit_sum                          0
dtype: int64

In [438]:
data_final = data_temp_new[data_temp_new['hit_sum'] == 0]

In [440]:
badrate_concen_new = data_final['is_dlq_30d'].mean()

In [442]:
badrate_concen_new

0.04661621412509974